.main-home-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 188, 157);
    align-items: center;
    padding: 40px;
    height: 40vh;
}
.brand-image{
    height: 200px;
    width: 200px;
    border:5px solid white;
    border-radius: 50%;
}
.brand-name{
    font-size: 50px;
    font-family: cursive;
    color: white;
}
.brand-skills{
    font-size: 30px;
    color: white;
    font-family: cursive;
}
.packages-section{
    margin: 30px 10px;
}
.npm-cards{
    display: flex;
    justify-content: space-between;
}
.packages-heading{
    display:block;
    width:fit-content;
    margin:20px auto;
    border-bottom: 5px solid black;
}